<%= form_with(model: kamalfile, class: "contents") do |form| %>
  <% if kamalfile.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Oops!</strong>
      <span class="block sm:inline"><%= pluralize(kamalfile.errors.count, "error") %> prohibited this kamalfile from being saved:</span>
      <ul class="list-disc pl-5 mt-3">
        <% kamalfile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-6">
    <%= form.label :title %>
    <p class="mt-1 text-xs text-neutral-500">Describing the app config</p>
    <%= form.text_field :name, class: "block shadow rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full placeholder-neutral-400", autocomplete: "off", placeholder: 'Shopify : Rails app with postgres and redis', required: true %>
  </div>

  <div class="my-6">
    <%= form.label :app_link %>
    <p class="mt-1 text-xs text-neutral-500">A link to your app/site.</p>
    <%= form.url_field :app_link, class: "block shadow rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full placeholder-neutral-400", autocomplete: "off", placeholder: 'https://shopify.com', required: true %>
  </div>

  <div class="my-6">
    <%= form.label :github_link, 'GitHub link' %>
    <p class="mt-1 text-xs text-neutral-500">A link to your GitHub repo.</p>
    <%= form.url_field :github_link, class: "block shadow rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full placeholder-neutral-400", autocomplete: "off", placeholder: 'https://github.com/Shopify/shopify_app' %>
  </div>

  <div class="my-6">
    <%= form.label :content, 'Kamal deploy.yml contents' %>
    <p class="mt-1 text-xs text-neutral-500">Copy and paste your config/deploy.yml file.</p>
    <%= form.text_area :content, rows: 20, class: "block shadow rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-6">
    <%= form.label :notes, 'Explanation' %>
    <p class="mt-1 text-xs text-neutral-500">Add additional context or information.</p>
    <%= form.text_area :notes, rows: 8, class: "block shadow rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-500 hover:bg-amber-400 text-black inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
