<div>
  <h3 class="font-bold text-md pb-2">Kamal <i>deploy.yml</i></h3>
  <div id="<%= dom_id kamalfile %>" class="col-span-1 lg:col-span-2">    
    <pre data-controller="linker"><code class="rounded-lg language-ruby"><%= kamalfile.content %></code></pre>
  </div>
  <% if @kamalfile.dockerfile.present? %>
    <h3 class="font-bold text-md py-4">Dockerfile</h3>
    <div class="col-span-1 lg:col-span-3">
      <pre data-controller="linker"><code class="rounded-lg language-ruby"><%= kamalfile.dockerfile %></code></pre>
    </div>
  <% end %>
  <% if @kamalfile.env.present? %>
    <h3 class="font-bold text-md py-4">env.example file</h3>
    <div class="col-span-1 lg:col-span-3">
      <pre data-controller="linker"><code class="rounded-lg language-ruby"><%= kamalfile.env %></code></pre>
    </div>
  <% end %>
  <% if @kamalfile.notes.present? %>
    <div class="col-span-1 text-black">
      <h3 class="font-bold text-md py-4">Explanation</h3>
      <%= simple_format(@kamalfile.notes) %>
    </div>
  <% end %>
</div>